<div id="header">
  <h1><%= @topic.title %></h1>
</div>

<div id="content">
  <h2> Cut: </h2>
  <span id="#{@topic.content}"> <%= @topic.content %> </span>
  <h3> Comments: </h3>
  <% @comments.each do |comment| %>
    <span id="#{comment.id}"> <%= comment.text %> </span><br>
  <% end %>
  <br>
  <div id="comment_form">
    <%= render "topics/comment_form" %>
  </div>
</div>