<div id="header">
  <h1>STEAK OVERFLOW</h1>
</div>

<div id="content">
  <p>CUTS:</p>
    <% @topics.each do |topic| %>
      <span><%= link_to topic.title, topic_path(topic.id) %></span><br/>
    <% end %>
  <br/>
</div>

<div id="new_cut">
  <%= link_to "Add a New Cut!", new_topic_path %>
</div>