<h1> Hello <%= @current_user.username %></h1>

<h2>List of Topics</h2>

<div id="content">
  <ul>
  <% @topics.each do |topic| %>
  	<li><%= link_to topic.title, topic_path(topic) %>
  			<%= link_to "Edit", edit_topic_path(topic)  %>
  	</li>
  <% end %>
  </ul>
</div>