html{
  /*background-image:url("cow.png");*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#navbar {
  position:fixed;
  width:100%;
  background-color: rgba(100, 20 ,75, .7);
  float: right;
}

.nav_title li {
  float: left;
}

.nav_list li {
  float: right;
  padding-right: 20px;
}

body {
  margin: 0;
}

#container {
  text-align: center;
  padding-top: 7em;
  margin-bottom: 4em;
}

#content {
  font-family: verdana;
  margin: 0 auto;
  width: 30%;
  border: 1px solid;
  background-color: white;
  padding-bottom:20px;
}

h1 {
  font-family: verdana;
  color: red;
}

.button {
  font-size: 20px;
  background-color: yellow;
  padding: 5px;
  border: 1px solid;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}