html{
  background-image:url("cow.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
}

#container {
  text-align: center;
  padding-top: 10%;
}

#content {
  font-family: verdana;
  margin: 0 auto;
  width: 50%;
  border: 1px solid;
  background-color: white;
}

h1 {
  font-family: verdana;
  color: red;
}

.button {
  font-size: 20px;
  background-color: darkred;
  border: 1px solid;
}

li {
  list-style: none;
}
